### Conjuntos (set)

In [3]:
type(set())

set

In [4]:
type({})

dict

In [5]:
type({1, 2, 3, 4, 5})

set

In [7]:
conjunto = {1, 2, 3, 4, 5}

In [15]:
lista1 = set([1, 1, 2, 3, 4, 4, 5, 6, 6, 7, 8])
lista2 = set([5, 6, 7, 8, 9])

In [12]:
int(3.14)

3

In [16]:
dir(set())

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [18]:
lista1.intersection(lista2)

{5, 6, 7, 8}

In [19]:
lista1 & lista2

{5, 6, 7, 8}

In [20]:
lista1.union(lista2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [21]:
lista1 | lista2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Funciones

In [27]:
def saluda_a_todos():
    print('saludos a todos los alumnos de esta clase')

In [28]:
saluda_a_todos()

saludos a todos los alumnos de esta clase

In [37]:
def saluda_a_X(nombre):
    print('Hola amigo, tu nombre es:', nombre)

In [38]:
saluda_a_X('Miguel')
saluda_a_X('Alex')
saluda_a_X('Jurgen')
saluda_a_X('Diana')
saluda_a_X('Efrain')

Hola amigo, tu nombre es: Miguel
Hola amigo, tu nombre es: Alex
Hola amigo, tu nombre es: Jurgen
Hola amigo, tu nombre es: Diana
Hola amigo, tu nombre es: Efrain

In [58]:
nombre = 'José'

def duplica_nombre(nombre):
    nombre_duplicado = nombre * 2
    return nombre_duplicado

duplica_nombre(nombre)

'JoséJosé'

In [47]:
nombre_duplicado = duplica_nombre('Miguel')

In [48]:
nombre_duplicado

'MiguelMiguel'

In [55]:
def funcion():
    pass
    print('hola')
    print('mundo')

In [56]:
funcion()

hola
mundo